@import 'tailwindcss';

.footer-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1rem;
}

.footer-div .item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    gap: .5rem;
}