@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap");

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-stack: "Stack Sans Text", sans-serif;

  /* --primary: #1d4ed8;
    --secondary: #ea3333;
    --foreground: #eeeeee; */

  --color-section-bg: #f8f8f8;
  --color-footer-bg: #1D283A;
  --color-footer-link: #b0b6b9;

  --color-primary: rgb(66, 132, 231);
  --color-primary-foreground: rgb(0 0% 100%);

  --color-secondary: rgb(217, 43, 43);
  --color-secondary-foreground: rgb(172, 33, 33);

  --color-btn-wpp: rgb(37, 211, 102);

  --color-muted: rgb(28, 35, 56);
  --color-muted-foreground: rgb(54, 61, 82);

  --color-light-foreground: rgb(212, 236, 255);
}

@layer base {

  html {
    scroll-behavior: smooth;
  }
  
  .footer-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: .4rem;
    padding: 1rem;
  }

  .footer-div .item {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
  }

  .footer-div h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .footer-div .title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .footer-div p, li {
    font-size: 1rem;
    color: var(--color-footer-link);
  }

  .footer-div ul li {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
  }
}
